{% extends 'base.html.twig' %}

{% block title %}Lythis{% endblock %}


{% block body %}
    <div class="setImage">
    </div>
    <div class="flex container_name_username">
        <div class="home_name">
            <p> Morgan Watbled <p>
        </div>
        
        <div class="home_bar"></div>
        
        <div class="git_username"> @Lythis</div>
            <div class="svg_Git">
                <a href="https://github.com/Lythis" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" ><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                </a>
            </div>
        </div>
    </div>
    <div>
    
        <h2 class="dev_fullstack"> Developpeur Web Junior</h2>
        
    </div>
    <div class="Presentation">  
        <h2 class="center second"> Qui suis je ? </h2>
        <div class="title_bar"></div>
        <p class="presentation_txt"> Je suis actuellement un étudiant en deuxième année de BTS SIO au lycée Saint Vincent à Senlis, j'étudie les 
        languages de programmation tel que php/c#/python ainsi que des frameworks comme JQuery/Bootstrap/Symfony afin de pouvoir devneir développeur 
        FullStack. Pendant mes années d'études j'ai réalisé plusieurs projets qui sont visibles sur mon site. 
        <button class="btn_cv"> Accès à mon cv sous format Pdf </button>
    </div> 
    <div class="progression">
        <h2 class="center"> Ma progression </h2>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline">
                    <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                    <span class="year">2020</span>
                                    <span class="year">2021</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h3 class="title">BTS 2 SIO</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. 
                                    Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                </p>
                            </div>
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="year">2019</span>
                                        <span class="year">2020</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h3 class="title">BTS 1 SIO</h3>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                    </p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="center mesProjets"> Mes projets </h2>
        <div class="containerProjet"> 
            <div class="card">
                <div class="imgBx">
                    <img src="../images/computer.jpg">
                </div>
                <div class="content">
                    <h2>Card One </h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar eros quis varius molestie.
                    Vivamus maximus sollicitudin libero, vitae viverra nibh ultrices vitae. Nulla quis eleifend quam. 
                    Donec vitae semper mauris. Vivamus maximus augue euismod diam vehicula iaculis. Maecenas non lacus diam. 
                    Proin dictum consequat varius. Nam dolor purus, pulvinar et pretium non, facilisis vestibulum mi. Suspendisse 
                    condimentum sollicitudin leo, blandit commodo purus viverra sit amet. Donec metus orci, lobortis dapibus lorem non, 
                    euismod tristique ligula. Nunc ut vulputate nisl, nec luctus risus.
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="../images/computer.jpg">
                </div>
                <div class="content">
                    <h2>Card Two </h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar eros quis varius molestie.
                    Vivamus maximus sollicitudin libero, vitae viverra nibh ultrices vitae. Nulla quis eleifend quam. 
                    Donec vitae semper mauris. Vivamus maximus augue euismod diam vehicula iaculis. Maecenas non lacus diam. 
                    Proin dictum consequat varius. Nam dolor purus, pulvinar et pretium non, facilisis vestibulum mi. Suspendisse 
                    condimentum sollicitudin leo, blandit commodo purus viverra sit amet. Donec metus orci, lobortis dapibus lorem non, 
                    euismod tristique ligula. Nunc ut vulputate nisl, nec luctus risus.
                </div>
            </div>
             <div class="card">
                <div class="imgBx">
                    <img src="../images/computer.jpg">
                </div>
                <div class="content">
                    <h2>Card Two </h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar eros quis varius molestie.
                    Vivamus maximus sollicitudin libero, vitae viverra nibh ultrices vitae. Nulla quis eleifend quam. 
                    Donec vitae semper mauris. Vivamus maximus augue euismod diam vehicula iaculis. Maecenas non lacus diam. 
                    Proin dictum consequat varius. Nam dolor purus, pulvinar et pretium non, facilisis vestibulum mi. Suspendisse 
                    condimentum sollicitudin leo, blandit commodo purus viverra sit amet. Donec metus orci, lobortis dapibus lorem non, 
                    euismod tristique ligula. Nunc ut vulputate nisl, nec luctus risus.
                </div>
            </div>
        </div>
            <div class="Contact">
                <h2 class="center"> Me Contacter </h2>
                <section> 
                    {{ form_start(form) }}
                        {{ form_start(form.Nom_Mail) }}
                        {{ form_start(form.Objet_Mail) }}
                        {{ form_start(form.Message_Mail) }}
                        {{ form_start(form.Prenom_Mail) }}
                        
                        <button type="submit"> Valider <button>
                    {{ form_end(form) }}
                </section>

</div>

{% endblock %}
